[Unit]
Description=casdoor
ConditionPathExists=/usr/local/casdoor
After=network.target

[Service]
Type=simple
EnvironmentFile=
ExecStart=/usr/local/casdoor/bin/casdoor_linux_amd64
WorkingDirectory=/usr/local/casdoor
Restart=on-failure
RestartSec=10
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
RuntimeDirectoryMode=0755
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
